html {
    background: #eee;
}

body {
    width: 90%;
    max-width: 960px;
    background: #fff;
    margin: 3em auto 0;
    padding-top: 2em;
    border: 1px solid #ddd;
    border-width: 0 1px;
}

#wrapper {
    padding: 5% 10%;
    position: relative;
}

#sep {
    background-color: #eee;
    height: 40px;
}