#wrapper{
    width: 90%;
    max-width: 960px;
    margin: 3em auto 0;
    background: #eee;
    padding: 5% 10%;
    border: 1px solid #ddd;
    border-width: 0 1px;
    position:relative;
}

.sep20 {
    height: 20;
}