<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../asserts/css/typo.css">
    <link rel="stylesheet" href="../asserts/css/default.css">
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
</head>

<body>
    <div id="wrapper">
        <div class="typo typo-selection">
            {{ content }}
        </div>
        <div class="sep20"></div>
        <div id="comments"></div>
    </div>
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
            id: '{{ page.title }}',
            owner: 'pezy',
            repo: 'reveries',
            oauth: {
                client_id: 'e012958ac9bb0278f9a8',
                client_secret: '18c5d02dfac1dad56844009f643319f29823ef63',
            },
        })
        gitment.render('comments')
    </script>
</body>

</html>