<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../asserts/css/typo.css">
    <link rel="stylesheet" href="../asserts/css/default.css">
</head>

<body>
    <div id="wrapper" class="typo typo-selection">
        {{ content }}
        <p id="dateline" class="serif">{{ page.date }}</p>
    </div>
    <div id="sep"></div>
    <div id="wrapper">
        <div id="comments"></div>
    </div>
    <script src="https://giscus.app/client.js"
        data-repo="pezy/reveries"
        data-repo-id="MDEwOlJlcG9zaXRvcnk4NzQxOTgyNw=="
        data-category="General"
        data-category-id="DIC_kwDOBTXrs84Cmr9L"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
    </script>
</body>

</html>
